<div class="signup account-configuration">
<div>
  <uib-tabset>
      <uib-tab ng-repeat="platform in platforms" heading="{{platform}}">
        <form>
        <div class="form-group">
            <input type="text" class="form-control acountId" id="accountId" placeholder="Account ID" data-ng-model="vm.accountId">
        </div>
        <div class="form-group">
            <input type="text" class="form-control apiKey" id="apiKey" placeholder="API Key" data-ng-model="vm.apiKey">
        </div>
      </form>
      <button class="btn primary-button" data-ng-click="submit()" data-ng-disabled="disableSubmitButton()">Submit</button>
      </uib-tab>
  </uib-tabset>
</div>
</div>
