<div class="signup account-configuration">
  <uib-accordion>
      <uib-accordion-group ng-repeat="platform in platforms" heading="{{ platform.originator | camelCaseToHuman | titlecase }}" is-open="platforms.status.isOpen[$index]">
        <form>
        <div class="form-group">
            <input type="text" class="form-control user" id="accountId" placeholder="Account Id" data-ng-model="platform.accountId">
        </div>
        <div class="form-group">
            <input type="text" class="form-control password" id="apiKey" placeholder="API Key" data-ng-model="platform.apiKey">
        </div>
      <div class="row">
      <div class="form-group col-md-6">
        <button class="btn primary-button btn-info" data-ng-click="submit()" data-ng-disabled="disableSubmitButton()">Modify</button>
      </div>
      <div class="form-group col-md-6">
        <button class="btn primary-button btn-danger2" data-ng-click="delete(platform)" data-ng-disabled="disableSubmitButton()">Delete</button>
      </div>
    </div>
    </form>
    </uib-accordion-group>
    <h4 ng-if="platforms.length == 0">You 're not registered to any platform</h4>
  </uib-accordion>
</div>
