<div class="blue">
    <div class="signup">
        <div class="signup intro-logo">
            <img src="assets/img/logos/pdx-logo-white-small.png" width="60px"/>
        </div>
        <div class="signup intro-text">
            <h1 class="intro-lead-in">Please Tell Us More About Yourself.</h1>
            <span class="intro-heading">Answer the questions below so we can design a custom portfolio for you.</span>
        </div>
        <h1 class="intro-second">When is your birthday ?</h1>
        <div class="signup row">
            <form class="col-md-4 col-md-offset-4 form-inline">
                <div class="form-group col-md-3">
                    <input type="text" class="form-control birthday" id="month" placeholder="Month" data-ng-model="vm.month">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control birthday" id="day" placeholder="Day" data-ng-model="vm.day">
                </div>
                <div class="form-group  col-md-6">
                    <input type="text" class="form-control birthday" id="year" placeholder="Year" data-ng-model="vm.year">
                </div>
                <button class="btn primary-button birthday" data-ng-click="vm.submit()" data-ng-disabled="vm.disableSubmitButton()">Submit</button>
            </form>
        </div>
        <div class="signup outro-text">
            <a href="#/login" class="outro-heading">Already have an account ?</a>
        </div>
    </div>
</div>