<div class="blue">
    <div class="container-fluid">
        <particles></particles>
        <div class="middle-box text-center">
            <div class="notFound">
                <h1 class="fat-font font-extra-bold notFound">404</h1>
                <h3 class="font-bold fat-font notFound">Page Not Found</h3>
            </div>
            <div class="error-desc">
                Sorry, but the page you are looking for has not been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.
            </div>
            <div class="m-t-md">
                <button class="btn primary-button button-inverse border-button" data-ng-click="vm.goToLandpage()">Go to the landpage</button>
                <button class="btn primary-button" data-ng-if="vm.userConnected" data-ng-click="vm.goToDashboard()">Go to my dashboard</button>
            </div>
        </div>
    </div>
</div>
