<div class="signup account-configuration">
        <form>
        <div class="form-group">
            <input type="text" class="form-control first_name" id="firstName" placeholder="First Name" data-ng-model="user.firstName">
        </div>
        <div class="form-group">
            <input type="text" class="form-control last_name" id="lastName" placeholder="Last Name" data-ng-model="user.lastName">
        </div>
        <div class="form-group">
            <input type="text" class="form-control birthday" id="birthday" placeholder="Birthday" data-ng-model="user.birthday">
        </div>
        <button class="btn primary-button" data-ng-click="submit()" data-ng-disabled="disableSubmitButton()">Submit</button>
      </form>
</div>
