<div class="signup account-configuration">
    <form>
        <div class="form-group">
            <input type="password" class="form-control password" id="oldPasswordId" placeholder="Current Password" data-ng-model="oldPassword">
        </div>
        <div class="form-group">
            <input type="password" class="form-control password" id="newPasswordId" placeholder="New Password" data-ng-model="newPassword">
        </div>
        <div class="row text-left conditions">
            <div><span class="glyphicon {{ tickBox(charLengthGreaterThan8) }} tick"></span>Your password has at least 8 characters</div>
            <div><span class="glyphicon {{ tickBox(hasLowercase) }} tick"></span>Your password has at least 1 lowercase letter</div>
            <div><span class="glyphicon {{ tickBox(hasUppercase) }} tick"></span>Your password has at least 1 capital letter</div>
            <div><span class="glyphicon {{ tickBox(hasSpecialChar) }} tick"></span>Your password has at least 1 number or special character</div>
        </div>
        <button class="btn primary-button btn-info" data-ng-click="submit()" data-ng-disabled="disableSubmitButton()">Submit</button>
    </form>
</div>
