<div class="blue">
    <div class="signup">
        <div class="signup intro-logo">
            <img src="assets/img/logos/pdx-logo-white-small.png" width="60px"/>
        </div>
        <div class="signup intro-text">
            <h1 class="intro-lead-in">Llink your P2P Platform.</h1>
        </div>
        <div class="signup row">
            <img width="150px" src="assets/img/platforms/lendingClub.png" class="img-rounded" data-ng-click="vm.submit('lendingClub')"/>
            <img width="150px" src="assets/img/platforms/prosper.png" class="img-rounded" data-ng-click="vm.submit('prosper')"/>
            <img width="150px" src="assets/img/platforms/bondora.png" class="img-rounded" data-ng-click="vm.submit('bondora')"/>
            <img width="150px" src="assets/img/platforms/ratesetter.jpg" class="img-rounded" data-ng-click="vm.submit('ratesetter')"/>
            <img width="150px" src="assets/img/platforms/fundingCircle.jpeg" class="img-rounded" data-ng-click="vm.submit('fundingCircle')"/>
        </div>
        <div class="signup outro-text">
            <a href="#/login" class="outro-heading">Already have an account ?</a>
        </div>
    </div>
</div>