<div class="blue">
    <my-progress-bar step-no="7" step-total="10"></my-progress-bar>
    <particles></particles>
    <div class="signup">
        <div class="signup intro-logo">
            <img src="assets/img/logos/pdx-logo-white-small.png" width="60px"/>
        </div>
        <div class="signup intro-text">
            <h1 class="intro-lead-in">Link your P2P Platform.</h1>
        </div>
        <div class="signup row">
            <img width="150px" src="assets/img/platforms/lendingClub.png" class="img-rounded platform" data-ng-click="vm.submit('lendingClub.png')"/>
            <img width="150px" src="assets/img/platforms/prosper.png" class="img-rounded platform" data-ng-click="vm.submit('prosper.png')"/>
            <img width="150px" src="assets/img/platforms/bondora.png" class="img-rounded platform" data-ng-click="vm.submit('bondora.png')"/>
            <img width="150px" src="assets/img/platforms/ratesetter.jpg" class="img-rounded platform" data-ng-click="vm.submit('ratesetter.jpg')"/>
            <img width="150px" src="assets/img/platforms/fundingCircle.jpeg" class="img-rounded platform" data-ng-click="vm.submit('fundingCircle.jpeg')"/>
        </div>
    </div>
</div>